body{
	font-family: Lato;
}
*:focus{
    outline: 0;
}

/****************************************/
/************ PANEL LAYOUT **************/
/****************************************/
#chartContainer{
    background-color: #fff;
    height: 470px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 2;
}
#lineChart, #singleYearBarChart{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;    
}
#singleYearBarChart{
    left: 2000px;
}
#valueScrubber{
    top: 400px;
    z-index: 3;
    position: fixed;
}
#singleYearCheck{
    top: 400px;
    left: 357px;
    z-index: 3;
    position: fixed;
}
#interactionInstructions{
    position: fixed;
    top: 436px;
}
#tableContainer{
    margin-top: 460;    
}
thead{
    z-index: 2;
    position: fixed;
}
tbody{
    position: absolute;
}
/****************************************/
/************ SCRUBBER STYLEs ***********/
/****************************************/
#valueScrubber{
	display: inline-block;
    margin-bottom: 10px;
}
#valueScrubber div{
	font: 14px Lato;
	float: left;
}
#valueScrubber #leftValue{
	margin: 11px 10px 0px 0px;
}
#valueScrubber #rightValue{
	margin: 11px 0px 0px 10px;
}
#sliderTrack{
	fill: #c6c6c6;
	stroke: none;
}
#sliderHighlight{
	fill: #1696d2;
	stroke: none;
}
.thumb{
	fill: #ffffff;
	stroke: #1696d2;
	stroke-width: 4px;
	cursor: pointer;
}


/****************************************/
/************ SWITCH STYLEs *************/
/****************************************/
#singleYearCheck circle.checked{
    fill: #1696d2;
}
#singleYearCheck circle.unchecked{
    fill: #ccc;
}
#singleYearCheck circle.checked.pressed{
    fill: #0076bc;
}
#singleYearCheck circle.unchecked.pressed{
    fill: #bbb;
}

/****************************************/
/************ TABLE STYLEs **************/
/****************************************/
th.selected{
    background-color: #fcb918;
}
.pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: 12px;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 8px 10px; /* cell padding */
}

.pure-table th {
    border-bottom: 1px solid #cbcbcb;
    text-align: center;
}
.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

.pure-table td {
    font-size: 14px;
    background-color: transparent;
}