body{
	font-family: Lato;
    margin: 0;
}
*:focus{
    outline: 0;
}

/****************************************/
/************ PANEL LAYOUT **************/
/****************************************/
#chartContainer{
    background-color: #fff;
    height: 470px;
    width: 100%;
    top: 100%;
    position: fixed;
    z-index: 2;
}
#controls{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    text-align: center;
    /*border: 2000px solid red;*/
    z-index: 200;
}
#innerControls{
    margin-top: 20%;
}
#lineChart, #singleYearBarChart, #map, #barChart, #stackedBar{
    width: calc(100% - 400px);
    top: 0;
    left: 400px;
    position: fixed;
    z-index: 2;    
}
#singleYearBarChart{
    left: 2000px;
}
#valueScrubber{
    top: 293px;
    left: 10px;
    z-index: 300;
    position: fixed;
}
#singleYearCheck{
    top: 331px;
    left: 63px;
    z-index: 300;
    position: fixed;
}
#singleYearCheck svg{
    margin-left: 8px;
    top: 5px;
    position: absolute;
}
#spacer{
    position: fixed;
    top: 326px;
    z-index: 0;
    font-size: 14px;
    font-style: italic;
    background-color: #fff;
    height: 103px;
    width: 100%;
    padding-top: 71px;

}
#interactionInstructions{
    position: fixed;
    top: 193px;
    left: 10px;
    z-index: 200;
    font-size: 14px;
    font-style: italic;
    height: 103px;
    width: 397px;
    padding-top: 71px;
    pointer-events: none;
}
#tableTitle{
    position: fixed;
    top: 402px;
    left: 50px;
    z-index: 999;
}
.subtitleCat{
    color: #fdbf11;
}
.titleCategory{
    text-transform: uppercase;
    font-size: 12px;
    color: #1696d2;
}
#tableContainer{
    width: 80%;
    margin-top: 460;    
}
thead{
    z-index: 2;
    position: fixed;
}
tbody{
    position: absolute;
}

#left_arrow, #right_arrow{
    position: fixed;
    bottom: 200;
    z-index: 999;
    height: 50px;
    cursor: pointer;
}
.leftFader{
    position: fixed;
    top: 460px;
    width: 80px;
    left: 0;
    z-index: 100;
    pointer-events: none;
}
.rightFader{
    position: fixed;
    top: 460px;
    width: 320px;
    right: 0;
    z-index: 100;
    pointer-events: none;

}
#left_arrow{
    transform: rotate(180deg);
    left: 5px;
}
#right_arrow{
    right: 5px;
}
.initial_hide{
    opacity: 0;
}
/****************************************/
/*********** FILTERS LAYOUT *************/
/****************************************/
#searchBox{
    position: absolute;
    top: 49px;
    left: 52px;
    width: 296px;
    height: 28px;
    vertical-align: middle;
    text-indent: 6px;
}

#tableMenu{
    left: 52px;
    position: absolute;
    top: 96px;
    width: 296px;
}
#refresh{
    z-index: 3;
    display: block;
    position: fixed;
    top: 66px;
    left: 351px;
    background-repeat: no-repeat;
    background-image: url(http://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1519px;
    height: 35px;
    width: 45px;
    cursor: pointer;
}
#refresh:hover{
        background-position: 0 -1751px;
}
/****************************************/
/************ SCRUBBER STYLEs ***********/
/****************************************/
#valueScrubber{
	display: inline-block;
    margin-bottom: 10px;
    z-index: 200;
}
#valueScrubber div{
	font: 14px Lato;
	float: left;
}
#valueScrubber #leftValue{
	margin: 11px 10px 0px 0px;
}
#valueScrubber #rightValue{
	margin: 11px 0px 0px 10px;
}
#sliderTrack{
	fill: #c6c6c6;
	stroke: none;
}
#sliderHighlight{
	fill: #1696d2;
	stroke: none;
}
.thumb{
	fill: #ffffff;
	stroke: #1696d2;
	stroke-width: 4px;
	cursor: pointer;
}
#hideScrubber{
    position: fixed;
    top: 280px;
    left: 0;
    width: 400px;
    /*background: red;*/
    z-index: 301;
    height: 80px;
    opacity: 0;
}


#valueScrubber.hidden{
    color: #bbb;
}
#valueScrubber.hidden .thumb{
    stroke: #bbb;
}
#valueScrubber.hidden #sliderHighlight{
    fill: #bbb;
}
#singleYearCheck.hidden{
    color: #bbb;
}
#singleYearCheck.hidden circle{
    fill: #bbb !important;
}
/****************************************/
/************ SWITCH STYLEs *************/
/****************************************/
#singleYearCheck circle.checked{
    fill: #1696d2;
}
#singleYearCheck circle.unchecked{
    fill: #999;
}
#singleYearCheck circle.checked.pressed{
    fill: #0076bc;
}
#singleYearCheck circle.unchecked.pressed{
    fill: #888;
}

/****************************************/
/************ TABLE STYLEs **************/
/****************************************/
th.selected{
    background-color: #fcb918;
}
.pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: 12px;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 8px 10px; /* cell padding */
/*    width: 100px !important;
    max-width: 100px;
    min-width: 100px;*/
}

.pure-table th {
    border-bottom: 1px solid #cbcbcb;
    text-align: center;
}
.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

.pure-table td {
    font-size: 14px;
    background-color: transparent;
}



/****************************************/
/************ EMBED MODAL ***************/
/****************************************/
.ui-widget{
    font-family: Lato !important;
}
#dialog-message{
    display: none;
    width: 300px;
}
#dialog-message textarea{
    width: 100%;
    font-size: 12px;
}
.ui-dialog-titlebar{
    border-radius: 0 !important;
    border: none;
    /* padding: 0; */
    width: 100%;
    margin-top: -5px;
    margin-left: -4px;
    background: #e2e2e2;
    text-align: center;
}
.ui-widget.ui-button{
    margin-right: 43px;
}

/****************************************/
/************ FOOTNOTES *****************/
/****************************************/
.top_footnote{
    font-style: 18px;
    color: #ec008b;
    position: relative;
    top: -5px;
    cursor: pointer;
}
.footer{
    margin-top: 4px;
    margin-left: 44px;
    font-size: 13px;
    font-style: italic;
}
.footnote span{
    font-weight: bolder;
    font-size: 17px;
    margin-right: 7px;
    color: #ec008b;
}
.footnotes{
    margin-top: 16px;
    margin-bottom: 43px;
}

/****************************************/
/************ FOOTER *****************/
/****************************************/
footer{
    background-color: #000;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    width: 100%;
    z-index: 9999;
    height: 96px;
}

footer img{
    float:left;
    width:auto;
}

footer p{
    float:right; 
    color:#fff;
    margin-top:40px;
    font-weight:300;
    background-color: #000;
    margin-right: 14px; 
}

footer a{
    color:#00a6d2;   
}

footer a:hover{
    color:#fff; 
    text-decoration: none;   
}
footer #disclaimer{
    width: 450px;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 26px;
}
}